// .modal__description {
//   position: absolute;
//   z-index: 6;
// }

.description {
  // overflow-y: auto;

  // &::-webkit-scrollbar {
  //   width: 5px;
  //   transform: translateX(-5px);
  // }

  // &::-webkit-scrollbar-track {
  //   border-radius: 10px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: #fd5103;
  //   border-radius: 10px;
  // }

  // &::-webkit-scrollbar-thumb:hover {
  //   background-color: #fd5103;
  // }

  // background: #fff;
  // overflow: overlay;
  // flex-direction: column;
  // justify-content: space-between;
  // display: flex;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // box-shadow: 0 1px 3px #0000001f, 0 1px 1px #00000024, 0 2px 1px #0003;
  // min-width: 320px;
  // width: 100%;
  // height: 90vh;
  // // height: 956px;
  // padding-top: 40px;
  // padding-bottom: 40px;
  // padding-left: 20px;
  // padding-right: 20px;

  // @media screen and (min-width: 768px) {
  //   width: 720px;
  //   height: 90vh;
  //   padding-right: 32px;
  // }

  overflow: hidden;
  z-index: 55;
  max-width: 822px;
  width: calc(100% - 10px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-grow: 1;
  max-height: calc(100vh - 50px);
  overflow-y: auto;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #ffffff;
}

.description__backdrop {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
}

.wrapper_ingrd {
  width: 100%;
  flex-direction: column;
  display: flex;
}

.description__button__close {
  // position: absolute;
  // top: 8px;
  // right: 8px;
  // width: 30px;
  // height: 30px;
  // border: none;
  // border-radius: 50%;
  // // display: flex;
  // // justify-content: center;
  // // align-items: center;
  // background-color: transparent;

  // &:hover {
  //   cursor: pointer;
  // }

  object-fit: contain;
  fill: #000000;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-radius: 50%;
  align-items: center;
  transition-property: fill, scale;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
  overflow: hidden;
}

.description__title {
  margin-bottom: 10px;
  padding-top: 40px;
  padding-left: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.18;
}

.description__category {
  padding-left: 28px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}

// .description__category::before {
//   @media screen and (min-width: 768px) {
//     content: '';

//     width: 100%;
//     height: 1px;
//     background-color: #fd5103;
//     display: inline-block;
//     position: absolute;
//     top: 169px;
//     left: 0px;
//   }
// }

.description__characteristic {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 28px;
  margin-bottom: 28px;

  border-top: 2px solid #fd5103;

  font-size: 16px;
  line-height: 1.75;
  color: #5f6775;

  @media screen and (min-width: 768px) {
    margin-top: 2px;
  }
}

.description__list {
  margin-bottom: 20px;
  padding-left: 28px;
  padding-right: 1.75px;
  color: #5f6775;
  font-size: 16px;
  line-height: 1.62;
  list-style: none;
}

.ingred__modal-btn {
  justify-content: flex-end;
  display: flex;
  order: 4;
}
.modal__btnIng {
  // position: absolute;
  // right: 16px;
  // bottom: -126px;

  // background: #fd5103;
  // font-weight: 400;
  // font-size: 20px;
  // line-height: 1.2;
  // letter-spacing: 0.02em;
  // color: #d9d9d9;
  // border: transparent;
  // border-radius: 4px;
  // text-align: center;

  // @media screen and (min-width: 768px) {
  //   width: max-content;

  //   position: absolute;
  //   left: 28px;
  //   bottom: 28px;
  // }

  // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // padding: 12px 24px;
  min-width: 185;
  height: 48px;
  margin-bottom: 28px;
  background: #fd5103;
  margin-left: auto;
  margin-right: 28px;
  border: transparent;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  text-align: center;

  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;

  &:hover {
    color: #fd5103;
    background-color: white;
    border: 2px solid #fd5103;
  }

  transition-property: #fd5103;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  border-style: none;
}
