.wine-card {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #fe7031;
  margin-bottom: 20px;
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #fe7031;
    border-radius: 15px;
    // margin-bottom: 20px;
  }
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 12px;
  margin-top: 8px;

  @media screen and (min-width: 768px) {
    // display: flex;
    flex-direction: column;
    // width: 350px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    gap: 15px;
  }

  @media screen and (min-width: 1280px) {
    // display: flex;
    flex-direction: column;
    width: 350px;
    // justify-content: center;
    align-items: center;
    // padding-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.wine-name {
  margin-left: 15px;

  @media screen and (min-width: 1280px) {
    font-size: 35px;
    margin-left: 25px;
  }
}

.why-title {
  font: italic 22px Georgia, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px #fd5103;
  transition-property: scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.11);
    color: #fd5103;
  }

  @media screen and (min-width: 1280px) {
    font: italic 35px Georgia, Helvetica, sans-serif;
  }
}

.btn-why-not {
  display: block;
  background-color: #ee7f4b;
  width: 175px;
  height: 45px;
  border-radius: 10px;
  border-style: none;
  margin-top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  color: white;

  &:hover {
    background-color: rgb(202, 56, 7);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1280px) {
    display: block;
    background-color: #ee7f4b;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border-style: none;
    margin-top: 20px;
    font-family: Roboto;
    text-align: center;
    font-size: 30px;
    color: white;

    // &:hover {
    //   background-color: rgb(202, 56, 7);
    //   transition-duration: 250ms;
    //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    // }
  }
}

.coffee {
  //   width: 100%;
  // position: absolute;
  bottom: 0%;
  margin: auto;
  text-align: center;
}

#kafe {
  font-size: 35px;
  color: #0a0a09;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 2px 1px antiquewhite;

  @media screen and (min-width: 768px) {
    font-size: 17px;
    letter-spacing: 6px;
  }

  // @media screen and (min-width: 1280px) {
  //   font-size: 35px;
  // }
}

.result-wine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-property: scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 20px;

  &:hover {
    transform: scale(1.1);
  }

  @media screen and (min-width: 768px) {
    // display: flex;
    align-items: center;
    justify-content: center;

    //   border-radius: 5px;
    //   padding: 20px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 0;
    flex-direction: row;
  }
}
